#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define LAYER_DEFAULT 0
#define LAYER_WIN 1
#define LAYER_LOWER 2
#define LAYER_NUMPAD 3

/ {
				// ------------------------------------------------------------------------------------------
				// |  0  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  10 |  11 |  12 |   13     |  14 -> 15 keys
				// |  15  |  16 |  17 |  18 |  19 |  20 |  21 |  22 |  23 |  24 |  25 |  26 |  27 |    28   |     -> 14 keys
				// |   29  |  30 |  31 |  32 |  33 |  34 |  35 |  36 |  37 |  38 |  39 |  40 |      41      |     -> 13 keys
				// |    42    |  43 |  44 |  45 |  46 |  47 |  48 |  49 |  50 |  51 |  52  |         53     |     -> 12 keys
				// |   54  |   55  |   56  |              57                |   58  |  59   |   60  |   61  |     -> 8 keys
				// ------------------------------------------------------------------------------------------
				// ------------------------------------------------------------------------------------------
				// |     |     |     |     |     |     |     |     |     |     |     |     |     |          |     |
				// |      |     |     |     |     |     |     |     |     |     |     |     |     |         |
				// |       |     |     |     |     |     |     |     |     |     |     |     |              |
				// |          |     |     |     |     |     |     |     |     |     |      |                |
				// |       |       |       |                                |       |       |       |       |
				// ------------------------------------------------------------------------------------------
	keymap {
		compatible = "zmk,keymap";

		default_layer {
				// ------------------------------------------------------------------------------------------
				// | ESC |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  0  |  -  |  =  |   BKSP   | DEL
				// | TAB  |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |  [  |  ]  |    |    |
				// |MO(NUM)|  A  |  S  |  D  |  F  |  G  |  H  |  J  |  K  |  L  |  ;  |  '  |     ENTER    |
				// |  SHIFT   |  Z  |  X  |  C  |  V  |  B  |  N  |  M  |  ,  |  .  |  UP  |      SHIFT     |
				// |  CTL  |  ALT  |  GUI  |            SPACE               |  LEFT | DOWN  | RIGHT | MO(LO)|
				// ------------------------------------------------------------------------------------------
			bindings = <
				&kp ESC &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp  N8   &kp  N9 &kp  N0  &kp MINUS &kp EQUAL &kp BSPC &bt BT_CLR
				&kp TAB  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp  I    &kp  O  &kp  P   &kp LBKT &kp RBKT  &kp BSLH
				&mo LAYER_NUMPAD &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp  K    &kp  L  &kp SEMI &kp SQT           &kp RET
				&kp LSHFT  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA &kp DOT &kp UP             &kp RSHFT
				&kp LCTRL &kp LALT &kp LGUI            &kp SPACE                          &kp LEFT  &kp DOWN &kp RIGHT &mo LAYER_LOWER
			>;
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};
		
		win {
				// ------------------------------------------------------------------------------------------
				// |     |     |     |     |     |     |     |     |     |     |     |     |     |          |     |
				// |      |     |     |     |     |     |     |     |     |     |     |     |     |         |
				// |       |     |     |     |     |     |     |     |     |     |     |     |              |
				// |          |     |     |     |     |     |     |     |     |     |      |                |
				// |   GUI |       |   CTL |                                |       |       |       |       |
				// ------------------------------------------------------------------------------------------
			bindings = <
				&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans 
				&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans 
				&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans 
				&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans 
				&kp LGUI &trans &kp LCTRL &trans &trans &trans &trans &trans 
			>;
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};
		
		lower {
				// ------------------------------------------------------------------------------------------
				// |  `  |  F1 |  F2 |  F3 |  F4 |  F5 |  F6 |  F7 | F8  |  F9 | F10 | F11 | F12 |   DEL    |     |
				// |      | HOME|  UP | END | PGUP|     |     |     | INS |     | PS  |  SL |  PB |  RESET  |
				// |       | LEFT| DOWN|RIGHT| PGDN|     |     |     |     |     |     |     | BOOTLOADER   |
				// |          |BR-  |BR+  |     |     |     |     |     | PREV| NEXT| FSLH |                |
				// |  BT-  |  BT+  |       |            PLAY                | VOL-  |  MUTE |  VOL+ |       |
				// ------------------------------------------------------------------------------------------
			bindings = <
				&kp GRAVE &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp F7 &kp  F8   &kp  F9 &kp  F10  &kp F11 &kp F12   &kp DEL &trans
				&trans &kp HOME &kp UP &kp END &kp PG_UP &trans &trans &trans &kp INS &trans &kp PSCRN &kp SLCK &kp PAUSE_BREAK &reset
				&trans    &kp LEFT &kp DOWN &kp RIGHT &kp PG_DN &trans &trans &trans &trans &trans &trans  &trans   &bootloader
				&trans &kp C_BRI_DN &kp C_BRI_UP &trans &trans &trans &trans &trans &kp C_PREV &kp C_NEXT &kp FSLH  &trans
				&bt BT_PRV &bt BT_NXT  &trans              &kp C_PP                          &kp C_VOL_DN   &kp C_MUTE  &kp C_VOL_UP &trans
			>;
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};
		
		numpad {
				// ------------------------------------------------------------------------------------------
				// |     |     |     |     |     |     |  ^  |  /  |  *  |  (  |  )  |     |     |          |     |
				// |      |     |     |     |     |     |  F4 |  7  |  8  |  9  |  -  |     |     |  NUMLK |
				// |       |     |     |     |     |     |  =  |  4  |  5  |  6  |  +  |     |              |
				// |          |     |     |     |     |  0  |  1  |  2  |  3  |  .  |  ?   |                |
				// |       |       |       |                                |       |       |       |       |
				// ------------------------------------------------------------------------------------------
			bindings = <
				&trans &trans &trans &trans &trans &trans &kp LS(N6) &kp KP_SLASH &kp KP_ASTERISK &kp LS(N9) &kp LS(N0) &trans &trans &trans &trans 
				&trans &trans &trans &trans &trans &trans &kp F4 &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp KP_MINUS &trans &trans &kp KP_NUMLOCK
				&trans &trans &trans &trans &trans &trans &kp KP_EQUAL &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp KP_PLUS &trans &trans 
				&trans &trans &trans &trans &trans &kp KP_N0 &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp KP_DOT &kp LS(FSLH) &trans 
				&trans &trans &trans &trans &trans &trans &trans &trans 
			>;
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};
	};
	
	combos {
        	compatible = "zmk,combos";
       		combo_capslock {
           		timeout-ms = <50>;
            		key-positions = <42 53>;
            		bindings = <&kp CLCK>;
       		 };
		 combo_swapctrlgui {
           		timeout-ms = <50>;
            		key-positions = <54 56>;
            		bindings = <&tog LAYER_WIN>;
       		 };
		 combo_numpad {
           		timeout-ms = <50>;
            		key-positions = <36 37>;
            		bindings = <&tog LAYER_NUMPAD>;
       		 };
		 combo_power {
           		timeout-ms = <50>;
            		key-positions = <0 13>;
            		bindings = <&kp C_POWER>;
       		 };
   	 };
};
